<div class="pb-20">
  <h2 class="sm:text-2xl text-xl font-medium mb-8">Work Experience 💼</h2>
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900
        dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500">January 2024 - Present</time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Web Developer, Freelance / Contractor (Philippines,
        Remote)</h3>
      <ul class="list-disc list-inside">
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Developed custom websites to meet individual client
          needs.</li>
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Worked closely with clients to understand their
          requirements and deliver projects on time.</li>
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Configured hosting and domains for client projects.</li>
      </ul>
    </li>
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900
        dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500">September 2022 - September 2023</time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Frontend Web Developer, Sunnybyte (Remote, CA, USA)</h3>
      <ul class="list-disc list-inside">
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Worked with clients like Toyota, U.S. POLO ASSN., and
          LabCentral.</li>
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Develop thoughtful, frontend solutions to client
          needs and implement them with best practices for code quality, structure, commenting and extensibility in mind.</li>
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Building and modifying web pages with strong
          development and design principles ensuring the code is always better than it was before.</li>
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Maintaining projects and updates all required
          packages and plugins every quarter.</li>
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Collaborate with project managers and other
          developers for estimation, planning, and development.</li>
      </ul>
    </li>
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900
        dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500">July 2020 - October 2021</time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Web Developer, NIXIQ (Dubai, UAE)</h3>
      <ul class="list-disc list-inside">
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Develop and maintain in-house and client projects.</li>
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Worked with interesting projects like cryptocurrency
          exchange market and cryptocurrency wallet specifically Aidos Kuneen.</li>
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Mentor other developer through close collaboration
          sharing my knowledge and experience.</li>
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Handle deployments and web hosting to other projects.</li>
      </ul>
    </li>
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900
        dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500">February 2020 - June 2020</time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Fullstack Developer, iTreat (Dubai, UAE)</h3>
      <ul class="list-disc list-inside">
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Worked together with developers for developing
          website, web application, and mobile application.</li>
      </ul>
    </li>
    <li class="ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900
        dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500">May 2018 - March 2019</time>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Web Developer, Fullstack HQ (Angeles City, Philippines)</h3>
      <ul class="list-disc list-inside">
        <li class="text-base font-normal text-gray-500 dark:text-gray-400">Converting design into pixel perfect HTML website,
          Wordpress, or Shopify.</li>
      </ul>
    </li>
  </ol>
</div>