<div class="xl:pt-60 md:pt-44 pt-20 xl:pb-96 md:pb-72 pb-40">
  <div class="flex flex-wrap">
    <div class="xl:w-2/3 w-full">
      <p class="text-lg uppercase sm:mb-2 mb-1 leading-none text-gray-600 dark:text-gray-200">
        Jeremy David
      </p>
      <h1 class="md:text-4xl sm:text-3xl text-2xl font-bold py-2 leading-tight">
        A solution oriented and flexible developer who thrives in challenging problems and enjoys working on projects. I am
        passionate about the digital world and constantly learning from new technologies to improve my skills.
      </h1>
    </div>
  </div>
</div>