<div class="sm:py-32 py-20">
  <p class="sm:text-2xl text-xl font-medium mb-8">Technologies I work with:</p>
  <div class="flex flex-wrap max-w-7xl w-full">
    <span class="skill">HTML</span>
    <span class="skill">CSS</span>
    <span class="skill">Tailwind CSS</span>
    <span class="skill">Bootstrap</span>
    <span class="skill">Javascript</span>
    <span class="skill">Typescript</span>
    <span class="skill">React</span>
    <span class="skill">NextJS</span>
    <span class="skill">NodeJS</span>
    <span class="skill">MySQL</span>
    <span class="skill">NoSQL</span>
    <span class="skill">PHP</span>
    <span class="skill">Wordpress</span>
    <span class="skill">Shopify</span>
    <span class="skill">Headless CMS</span>
    <span class="skill">Craft CMS</span>
    <span class="skill">SASS</span>
  </div>
</div>