@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-normal;
    @apply font-body;
  }
}

@layer components {
  .custom-container {
    @apply mx-auto w-full;
    max-width: calc(100% - 60px);
  }

  .nav-wrapper {
    @apply relative z-50 mb-3 flex flex-wrap items-center justify-between py-8;
  }

  .nav-wrapper.active {
    @apply fixed h-full w-full items-start bg-white dark:bg-matte-black;
  }

  .nav-holder {
    @apply container mx-auto flex flex-wrap items-center justify-between;
  }

  .nav-wrapper.active .nav-holder {
    @apply h-full items-start;
  }

  .nav-link {
    @apply base-transition text-transition flex items-center px-1 py-2 text-lg font-semibold leading-snug hover:opacity-75;
  }

  .nav-open {
    @apply absolute left-0 top-32 z-50 w-full bg-white pb-20;
  }

  .base-transition {
    @apply transition duration-200 ease-in-out;
  }

  .text-transition {
    @apply hover:text-green-500 dark:hover:text-green-500;
  }

  .border-transition {
    @apply hover:border-green-500 dark:hover:border-green-500;
  }

  .bg-transition {
    @apply hover:bg-green-500 dark:hover:bg-green-500;
  }

  .img-transition {
    @apply transition duration-700 ease-in-out hover:scale-105 hover:transform hover:opacity-75;
  }
  .gradient-text {
    background: linear-gradient(
      to right,
      #5433ff,
      #20bdff,
      #a5fecb,
      #20bdff,
      #a5fecb,
      #5433ff,
      #a5fecb
    );
    background-size: 300% 300%;
    background-clip: text;
  }
  .link-transition:hover {
    --d: 100%;
  }

  .title-decorator::before {
    content: "";
    @apply absolute bottom-0 left-0 h-1 w-full bg-green-500;
  }

  .skill {
    @apply mb-2 mr-2 rounded-full border border-gray-200 px-4 py-2 text-lg font-semibold;
  }
}
