<div class="pb-20">
  <div class="flex gap-2 items-center mb-8">
    <span class="w-12 h-[1px] bg-black block"></span>
    <h2 class="sm:text-4xl text-3xl flex gap-2 items-center tracking-tighter leading-none">
      Experience
    </h2>
  </div>
  <ol class="relative border-s border-gray-300">
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500">January 2024 - April 2026</time>
      <h3 class="text-lg font-semibold text-gray-900">Web Developer, Freelance / Contractor (Philippines,
        Remote)</h3>
      <ul class="list-disc list-inside">
        <li class="text-base font-normal text-gray-500 ">Developed custom websites to meet individual client
          needs.</li>
        <li class="text-base font-normal text-gray-500 ">Worked closely with clients to understand their
          requirements and deliver projects on time.</li>
        <li class="text-base font-normal text-gray-500 ">Configured hosting and domains for client projects.</li>
      </ul>
    </li>
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500">September 2022 - September 2023</time>
      <h3 class="text-lg font-semibold text-gray-900 ">Frontend Web Developer, Sunnybyte (Remote, CA, USA)</h3>
      <ul class="list-disc list-inside">
        <li class="text-base font-normal text-gray-500 ">Worked with clients like Toyota, U.S. POLO ASSN., and
          LabCentral.</li>
        <li class="text-base font-normal text-gray-500 ">Develop thoughtful, frontend solutions to client
          needs and implement them with best practices for code quality, structure, commenting and extensibility in mind.</li>
        <li class="text-base font-normal text-gray-500 ">Building and modifying web pages with strong
          development and design principles ensuring the code is always better than it was before.</li>
        <li class="text-base font-normal text-gray-500 ">Maintaining projects and updates all required
          packages and plugins every quarter.</li>
        <li class="text-base font-normal text-gray-500 ">Collaborate with project managers and other
          developers for estimation, planning, and development.</li>
      </ul>
    </li>
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500">July 2020 - October 2021</time>
      <h3 class="text-lg font-semibold text-gray-900 ">Web Developer, NIXIQ (Dubai, UAE)</h3>
      <ul class="list-disc list-inside">
        <li class="text-base font-normal text-gray-500 ">Develop and maintain in-house and client projects.</li>
        <li class="text-base font-normal text-gray-500 ">Worked with interesting projects like cryptocurrency
          exchange market and cryptocurrency wallet specifically Aidos Kuneen.</li>
        <li class="text-base font-normal text-gray-500 ">Mentor other developer through close collaboration
          sharing my knowledge and experience.</li>
        <li class="text-base font-normal text-gray-500 ">Handle deployments and web hosting to other projects.</li>
      </ul>
    </li>
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500">February 2020 - June 2020</time>
      <h3 class="text-lg font-semibold text-gray-900 ">Fullstack Developer, iTreat (Dubai, UAE)</h3>
      <ul class="list-disc list-inside">
        <li class="text-base font-normal text-gray-500 ">Worked together with developers for developing
          website, web application, and mobile application.</li>
      </ul>
    </li>
    <li class="ms-4">
      <div class="absolute w-3 h-3 bg-gray-300 rounded-full mt-1.5 -start-1.5 border border-white"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-500">May 2018 - March 2019</time>
      <h3 class="text-lg font-semibold text-gray-900 ">Web Developer, Fullstack HQ (Angeles City, Philippines)</h3>
      <ul class="list-disc list-inside">
        <li class="text-base font-normal text-gray-500 ">Converting design into pixel perfect HTML website,
          Wordpress, or Shopify.</li>
      </ul>
    </li>
  </ol>
</div>