<div class="pb-20">
  <div class="flex gap-2 items-center mb-8">
    <span class="w-12 h-[1px] bg-black dark:bg-white block"></span>
    <h2 class="sm:text-4xl text-3xl flex gap-2 items-center tracking-tighter leading-none">
      Skills
    </h2>
  </div>
  <div class="flex flex-wrap max-w-7xl w-full">
    <span class="skill">HTML</span>
    <span class="skill">CSS / SCSS</span>
    <span class="skill">Tailwind CSS</span>
    <span class="skill">Shopify</span>
    <span class="skill">Wordpress</span>
    <span class="skill">Javascript</span>
    <span class="skill">Typescript</span>
    <span class="skill">React</span>
    <span class="skill">NextJS</span>
    <span class="skill">NodeJS</span>
    <span class="skill">MySQL</span>
    <span class="skill">NoSQL</span>
    <span class="skill">PHP</span>
    <span class="skill">Eleventy</span>
    <span class="skill">Headless CMS</span>
    <span class="skill">Craft CMS</span>
    <span class="skill">Hosting & Server Management</span>
    <span class="skill">Website Maintenance</span>
  </div>
</div>