<div class="py-8">
  <div class="nav-holder">
    <div class="w-full relative flex justify-between">
      <a href="/" class="leading-none inline-block whitespace-no-wrap base-transition text-transition">
        <div class="absolute">
          <svg width="50" height="50" viewBox="0 0 500 500" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M153.552 0V72.8368H67.2131V0H153.552ZM153.552 102.41V412.377C153.552 470.975 117.486 500 63.9344 500C32.2404 500
            15.3005 493.428 0 485.761V401.972C14.2076 408.543 25.1366 411.281 41.5301 411.281C65.5738 411.281 67.2131 392.662 67.2131
            383.352V102.41H153.552V102.41ZM413.661 0H500V139.102V387.185H413.661V358.708C409.836 368.565 384.153 392.662 340.437
            392.662C275.41 392.662 200.546 346.112 200.546 244.25C200.546 146.221 275.41 97.4808 340.437 97.4808C384.153 97.4808
            409.836 122.673 413.661 128.697V0V0ZM353.005 316.539C388.525 316.539 417.486 291.895 417.486 244.25C417.486 198.248
            388.525 173.603 353.005 173.603C315.847 173.603 284.153 198.795 284.153 244.25C284.153 291.347 315.847 316.539 353.005
            316.539Z"/>
          </svg>
        </div>
      </a>
    </div>
    <div class="lg:flex flex-grow items-center lg:justify-items-auto justify-center bg:white dark:bg-matte-black hidden">
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto items-center">
        <li>
          <a class="nav-link" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link" href="/works">Works</a>
        </li>
        <li>
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li>
          <a
            class="nav-link"
            href="https://admin.jeremydavid.dev/uploads/jeremydavid_cv_21f5f11c23.pdf"
            download="jeremydavid-cv.pdf"
            target="_blank"
            rel="noreferrer">CV</a>
        </li>
        <li>
          <span class="px-4 py-2 flex items-center leading-snug">
            <div class="transition duration-500 ease-in-out rounded-full p-2">
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 20 20"
                class="text-black dark:text-white text-2xl cursor-pointer"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
              </svg>
            </div>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>