---
title: "Home"
---

{% extends "layout/layout.njk" %}
{% block main %}
  <div class="container mx-auto">
    {% include "sections/hero.njk" %}
    {% include "sections/experience.njk" %}
    {% include "sections/skills.njk" %}
    {% include "sections/featured-works.njk" %}
  </div>
{% endblock main %}