---
title: "Works"
---

{% extends "layout/layout.njk" %}
{% block main %}
  <div class="container mx-auto py-16">
    <div>
      <div class="grid lg:grid-cols-2 grid-cols-1 xl:gap-16 gap-8">
        {% for work in collections.works %}
          <div>
            <a href="{{ work.data.link }}">
              {% image work.data.img, work.data.title, "img-transition", ["900, 600"] %}
              <div class="py-2">
                <p>
                  {% for type in work.data.types | join(", ") -%}
                    {{ type }}
                  {%- endfor %}
                </p>
                <a href="{{ work.data.link }}" class="cursor-pointer md:text-4xl sm:text-3xl text-2xl font-bold flex items-center base-transition text-transition">{{ work.data.title }}</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endblock main %}